# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

如果兩個數字都是偶數，則印出兩個數字中最小的數；如果兩個數字有一個是奇數或是兩個都是奇數，則印出兩個數字中最大的數。

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

如果兩個字串的第一個字皆相同，則回傳 True；如果兩個字串的第一個字不相同，則回傳 False。

In [4]:
def animal_crackers(text):
    singleword = text.split()
    return singleword[0][0] == singleword[1][0]

text.split() 會回傳的是 list，所以在 return 的地方， singleword[0][0]，第一個 [0] 代表的是這個 list 的第一個字串，第二個 [0] 代表的是這個字串的第一個字；所以在singleword[1][0]，第一個 [1] 代表的是這個 list 的第二個字串，第二個 [0] 代表的是這個字串的第一個字。

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [7]:
def animal_crackers(text):
    singleword = text.lower().split()
    return singleword[0][0] == singleword[1][0]

In [8]:
# Check
animal_crackers('Crazy cat')

True

在 In[7] 裡面，python 可以用 .lower().split()，這樣就不會出現同一個字，但只是大小寫不同，而產生 false 的情況。或者是可以用 .upper().split() ，這樣也不會有產生 false 的情況。

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

有兩個數字，如果兩個數字相加是 20 ，則回傳 True；如果兩個數字中其中一個是 20 ，則也回傳 True，如果都不是，則回傳 False。

In [9]:
def makes_twenty(n1,n2):
    if sum((n1,n2)) == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [10]:
# Check
makes_twenty(20,10)

True

In [11]:
# Check
makes_twenty(2,3)

False

In [12]:
# check
makes_twenty(12,8)

True

In [13]:
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [14]:
# Check
makes_twenty(20,10)

True

In [15]:
# Check
makes_twenty(2,3)

False

In [16]:
# check
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

要將第一個字跟第四個字變成大寫，其餘不變。

In [17]:
def old_macdonald(name):
    
    firstletter = name[0]
    inbetween = name[1:3]
    fouthletter = name[3]
    rest = name[4:]
    
    return firstletter.upper() + inbetween + fouthletter.upper() + rest

In [18]:
# Check
old_macdonald('macdonald')

'MacDonald'

先利用 index 的方式，將不同的字抓出來，因為第一個跟第四個要變成大寫，所以先抓第一個，然後再抓第 2-3 個，在單獨把第四個字抓出來，最後抓全部，再用 .upper() 將第一個跟第四個變成大寫，最後組合起來。

In [19]:
name = 'macdonale'

In [20]:
name

'macdonale'

In [21]:
name[:3]

'mac'

In [22]:
name[:3].capitalize()

'Mac'

In [23]:
name[3:].capitalize()

'Donale'

In [24]:
def old_macdonald(name):
    firstpart = name[:3]
    secondpart = name[3:]
    return firstpart.capitalize() + secondpart.capitalize()

In [25]:
# Check
old_macdonald('macdonald')

'MacDonald'

如果用 .capitalize() 只會將第一個字變成大寫，所以根據要求，要先將原本的字串分成兩個，一個是 mac 一個是 donald ，然後將這兩個字串的第一個字都變成大寫，最後再合併起來。

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

要將原本的字串反轉，變成第一個字串在最後面，最後一個字串在最前面。

In [26]:
def master_yoda(text):
    wordlist = text.split()
    reverwordlist = wordlist[::-1]
    return reverwordlist

In [27]:
# Check
master_yoda('I am home')

['home', 'am', 'I']

In [28]:
# Check
master_yoda('We are ready')

['ready', 'are', 'We']

不過是要求要變成 string ，並不是要用 list 呈現答案。

In [29]:
mylist = ['a','b','c']

In [30]:
'--'.join(mylist)

'a--b--c'

用 .join() 的方式，就可以將 list 變成 string，然後會用 -- 將他們連結再一起，也就是說，在 .join() 前面，加上什麼，原本 list 的東西就會直接靠那個連結起來。

In [31]:
mystr = 'I am home'

In [32]:
mystr.split()

['I', 'am', 'home']

In [33]:
mystr.split()[::-1]

['home', 'am', 'I']

In [34]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [35]:
# Check
master_yoda('I am home')

'home am I'

In [36]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

如果有一個 num，在距離 100 或 200 是 +- 10 之內，則回傳 True，否則回傳 False。

In [37]:
def almost_there(n):
    return (abs(100 - n)) <= 10 or (abs(200 - n)) <= 10

In [38]:
# Check
almost_there(104)

True

In [39]:
# Check
almost_there(150)

False

In [40]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

如果在這個 array 裡面，3 跟 3 沒有連續在一起，則回傳 false，否則回傳 true。

In [41]:
def has_33(nums):
    # Use loop to go through every single index in this list
    for i in range(0,len(nums) - 1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
    # If whole loop statement is not True then return False
    return False

1. 因為要確認下一個是不是 3 ，所以會是從 0 開始到這個 array 的長度減一，因為這樣才能檢查到下一個。

2. 在 if 條件裡面，如果是 3 那下一個也要是 3 才會回傳 True ，否則回傳 False。

In [42]:
# Check
has_33([1, 3, 3])

True

In [43]:
# Check
has_33([1, 3, 1, 3])

False

In [44]:
# Check
has_33([3, 1, 3])

False

In [45]:
def has_33(nums):
    # Use loop to go through every single index in this list
    for i in range(0,len(nums) - 1):
        if nums[i:i+2] == [3,3]:
            return True
    # If whole loop statement is not True then return False
    return False

In [46]:
# Check
has_33([1, 3, 3])

True

In [47]:
# Check
has_33([1, 3, 1, 3])

False

In [48]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

將字串內每一個字都原封不動的重複三次。

In [49]:
def paper_doll(text):
    result = ''
    for letter in text:
        result += letter * 3
    return result

In [50]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [51]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

在 1 到 11 裡面給出 3 個數字，如果這三個數字相加小於等於 21，那麼就回傳他們的總和；如果這三個數字相加超過 21，且如果這三個數字當中有 11，則回傳三個數字的總和減掉 10；如果這三個數字相加超過 21，且這三個數字中沒有11，則回傳 BUST。

In [52]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <= 31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [53]:
# Check
blackjack(5,6,7)

18

In [54]:
# Check
blackjack(9,9,9)

'BUST'

In [55]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

如果數字內沒有6，則回傳數字的總和；如果數字出現了 6 ，則忽略掉，則回傳 6 前面的數字總和；如果 6 和 9 同時出現，則忽略掉 6 和 9，回傳其他數字的總和，在這個要求下，6 和 9 一定會出現，看是同時出現，還是分開出現。

In [56]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

假設要將所有的數字全部相加，所以 add 才會是 True，利用 for loop 先讓所有數字都相加，在開始判斷，如果數字不等於 6 ，則相加，然後跳出 while loop，之後再跳回 for loop，最後再檢查數字是不是等於 9。

In [57]:
# Check
summer_69([1, 3, 5])

9

In [58]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [59]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

如果在 list 裡面，包含兩個 0 及一個 7 ，則回傳 True，否則回傳 False，也就是說，要先出現兩個 0 在出現一個 7 ，才會是 True。

In [60]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x'] length = 1
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

先預設一個 code 的 list，在這個 list 裡面 放入 0,0,7,'x'，然後用 for loop 去檢查， 如果 num == code[0]，則將值丟出來，所以會從 0,0,7,'x' ，變成 0,7,'x' ，在變成 7,'x'， 最後只剩下 'x' ，如果最後剩下 'x' 則回傳 True。

In [61]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [62]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [63]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

計算在這個數值的範圍裡面，有幾個質數，其中 1 和 0 不等於質數。

In [64]:
def count_primes(num):
    
    # Check for 0 or 1 input
    if num < 2:
        return 0
    #有提到 1 或 0 不等於質數
    
    # Store the prime numbers
    primes = [2]
    # Counter going op to the input num
    x = 3
    # it is going with 3 is because can going up to odd
    
    # x is going through every number up to input rum
    while x <= num:
        # check if x is prime
        for y in range(3,x,2):
            # step 2 is because even will never a prime num,so have to check the odd num is a prime num or not
            if x % y == 0:
                x += 2
                break
                # if it is not a prime num,so plus two and break the loop
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [65]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [66]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   *',9:'*    '}
    alphabat = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabat[letter.upper()]:
        print(patterns[pattern])

In [67]:
print_big('e')

*****
*
*****
*
*****

## Great Job!