In [1]:
import datetime

In [2]:
t = datetime.time(5,25,1)

In [3]:
print(t)

05:25:01

小時，分鐘，秒，毫秒。

In [4]:
ti = datetime.time(20,25,1)

In [5]:
print(ti)

20:25:01

In [6]:
t.hour

5

In [7]:
t.minute

25

In [8]:
t.microsecond

0

In [9]:
t.second

1

除了將所有時間都印出來外，也可以單獨額外的將想要的時間顯示出來。

In [10]:
datetime.time.min

datetime.time(0, 0)

In [11]:
print(datetime.time.min)

00:00:00

In [12]:
print(datetime.time.max)

23:59:59.999999

datetime.time.min 指的就是最早的時間，datetime.time.max 指的就是最晚的時間。

In [13]:
print(datetime.time.resolution)

0:00:00.000001

In [14]:
today = datetime.date.today()

In [15]:
today

datetime.date(2019, 9, 11)

In [16]:
print(today)

2019-09-11

除了時間之外，也可以顯示年月日。

In [17]:
today.timetuple()

time.struct_time(tm_year=2019, tm_mon=9, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=254, tm_isdst=-1)

In [18]:
today.year

2019

In [19]:
today.month

9

In [20]:
today.day

11

和時間一樣，也可以單獨印出想要的年月日。

datetime.date.min

In [22]:
datetime.date.max

datetime.date(9999, 12, 31)

In [23]:
datetime.date.resolution

datetime.timedelta(days=1)

In [24]:
print(datetime.date.resolution)

1 day, 0:00:00

In [25]:
d1 = datetime.date(2015,3,11)
print(d1)

2015-03-11

In [26]:
d2 = d1.replace(year=1990)

In [27]:
d2

datetime.date(1990, 3, 11)

可以用置換的方式，將原本的換掉。

In [28]:
d2

datetime.date(1990, 3, 11)

In [29]:
d1

datetime.date(2015, 3, 11)

In [30]:
d1 - d2

datetime.timedelta(days=9131)

可以將時間相減。